/* Global Rules */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

:root {
  --main-color: #abebc6;
  --secondary-Color: #34495e;
  --bg-color1: #d6dbdf;
  --bg-color2: #e5e8e8;
  --color1: #ff5733;
  --color2: #daf7a6;
  --card-min-width: 200px;
  --card-max-width: 300px;
  --card-height: 250px;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Page Componemts */

/* Start Header */

header {
  position: fixed;
  top: 0;
  background-color: var(--secondary-Color);
  width: 100%;
  border-bottom: 5px solid var(--main-color);
  z-index: 5;
  margin: 0;
}
header .container {
  background-color: var(--secondary-Color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
}

header h2 {
  text-transform: uppercase;
  color: var(--color1);
  font-size: 40px;
  padding: 10px 0;
  margin: 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
}
.navbar li {
  display: inline;
  padding: 5px;
}
.navbar li a {
  text-decoration: none;
  color: var(--color1);
  letter-spacing: 1px;
  font-size: inherit;
  transition: 0.5s ease;
  margin: 0;
}

.navbar li a:hover {
  color: var(--color2);
}

@media (max-width: 500px) {
  header h2 {
    font-size: 20px;
    padding: 5px 0;
  }
  .navbar li a {
    font-size: 10px;
  }
}
/* End Header */

/* Start Main */

main {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 71px);
  margin-top: 71px;
  position: relative;
}
main::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url(../media/1239386.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
main .container {
  display: grid;
  place-items: center;
}
@media (max-width: 499px) {
  main {
    margin-top: 49.5px;
  }
}

@media (max-width: 500px) {
  main {
    margin-top: 33px;
  }
}

.container h3 {
  color: var(--color1);
  font-size: 40px;
  letter-spacing: 1px;
  margin: 20px auto;
  font-weight: 700;
  text-align: center;
  z-index: 2;
  opacity: 0.9;
}

.container strong {
  color: var(--secondary-Color);
  font-size: 25px;
  margin: 20px auto;
  text-align: center;
  line-height: 1.5;
  z-index: 2;
}

main p {
  padding: 5px 0;
  border: 0px solid transparent;
  border-radius: 25px;
  background-image: linear-gradient(35deg, #1e8449, rgb(68, 43, 85), #f7dc6f);
  width: 16em;
  min-height: 3em;
  box-shadow: 0px 10px 15px rgb(83, 81, 81);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 20px auto;
  transition: 0.5s ease;
  z-index: 2;
  text-align: center;
}

main p:hover {
  transform: scale(1.1);
}
main p a {
  color: #fff;
  opacity: 5;
  font-size: 25px;
  text-decoration: none;
  letter-spacing: 1px;
  z-index: 2;
  opacity: 0.5;
  text-transform: uppercase;
font-weight: 700;
}

.mn-s-icns {
  width: fit-content;
  margin: 20px auto;
  z-index: 2;
}

.mn-s-icns a {
  font-size: 30px;
  text-decoration: none;
  padding-right: 15px;
  color: var(--color2);
  opacity: 0.8;
}

#home .fa-brands.fa-github,
#home .fa-brands.fa-facebook,
#home .fa-brands.fa-codepen,
#home .fa-brands.fa-linkedin {
  transition: ease 0.5s;
}

#home .fa-brands.fa-github:hover,
#home .fa-brands.fa-facebook:hover,
#home .fa-brands.fa-codepen:hover,
#home .fa-brands.fa-linkedin:hover {
  transform: scale(1.2);
}

@media (max-width: 500px) {
  .container h3 {
    font-size: 30px;
    letter-spacing: 1px;
    margin: 15px auto;
    font-weight: 700;
  }

  .container strong {
    font-size: 15px;
    margin: 15px auto;
    line-height: 1.2;
  }

  main p {
    font-weight: 600;
    width: 10em;
    min-height: 2em;
    margin: 15px auto;
  }

  main p a {
    font-size: 15px;
  }

  .mn-s-icns {
    margin: 15px auto;
  }

  .mn-s-icns a {
    font-size: 20px;
  }
}

/* End Main */

/* Start Projects */
#projects{
  background-image: linear-gradient(45deg, #5b2c6f, #1e8449, #7d3c98 );
  min-height: 100vh;
  padding-top: 80px;
}

.container h3.secTitle{
color:var(--color1);
width: fit-content;
padding: 15px;
background-color:transparent;
text-shadow: 0px 0px 50px var(--color2);
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card {
  min-width: var(--card-min-width);
  max-width: var(--card-max-width);
  height: var(--card-height);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 0px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  background-color:var(--bg-color2);
  transition: ease 0.5s;
  margin-bottom: 50px;
  color: var(--secondary-Color);
}

.card:hover {
  transform: scale(1.08);
}

.card figure {
  width: 100%;
  height: 85%;
}
figure img {
  max-width: 100%;
  height: 80%;
  margin-bottom: 5px;
}
figure figcaption {
  width: 100%;
  height: 15%;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
}

.cardTail {
  padding: 10px 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
}
.cardTail a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--color1);
  transition: 0.5s ease;
}

.cardTail a:hover{
color: var(--color2);
}

/* End Projects */

/* Start Contact */


#contact{
  background-color: var(--bg-color1);
  padding-top: 80px;
  padding-bottom: 80px;
}
#contact .cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#contact .cards .card {
  min-width: var(--card-min-width);
  max-width: var(--card-max-width);
  height: var(--card-height);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 0px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  transition: ease 0.5s;
  margin-bottom: 20px;
}

.contactCards {
  height: clac(fit-content + 20em);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.contactCard {
  width: 20em;
  height: 20em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
  border: 0.011px solid gray;
  box-shadow: 10px 10px 10px gray;
  border-radius: 10px;
  margin: 2em 0;
  background-color: #fff;
  transition: 0.5s ease;
}

.contactCard:hover{
  transform: scale(1.1);
}


.contactCard i {
  font-size: 5em;
  text-align: center;
  color: #3a293c;
}

.contactCard a {
  font-size: 2em;
  text-align: center;
  color: #000;
  text-decoration: none;
  color:var(--color1);
  transition:ease 0.5s;
}

.contactCard a:hover{
color:var(--color2)
}
/* End Contact */

/* start Footer*/

footer {
  width: 100%;
  min-height: 30px;
  background-color: var(--secondary-Color);
  
}

footer .container{
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; 
  align-items: center;
}

footer p {
  font-weight: 600;
  font-size: 20px;
  color: var(--color1);
}

footer div a {
  color: var(--color2);
  padding: 0 5px;
  font-size: 20px;
  text-decoration: none;
}

@media (max-width:500px){
  footer p {
    font-size: 13px;
  }
  
  footer div a {

    font-size: 13px;
  }
}

@media (max-width:360px){
  footer p {
    font-weight: 400;
    font-size: 12px;
  }
  
  footer div a {
    font-size: 12px;
  }
}
/* End Footer */
